<h4>Modifier la discussion</h4>

<%= render 'form', discussion: @discussion %>

<%= link_to 'Show', @discussion, class: "btn btn-flat-dark my-xs" %> |
<%= link_to 'Back', discussions_path, class: "btn btn-flat-dark my-xs" %>
