<h1>Bienvenue sur le site web de mon jeu.</h1>
  <p>Actualité 1</p>
  <p>Actualité 2</p>
  <p>Actualité 3</p>

  <button class="btn btn-outline-success my-2 my-sm-0" type="button">Télécharger le jeu</button>
