<%# add navigation links to this file %>

<li class="nav-item active">

  <a class="nav-link" href="<%= page_path('boutique') %>">Boutique</a>

</li>

<li class="nav-item active">

  <a class="nav-link" href="<%= page_path('forum') %>">Forum</a>

</li>



